.app  {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: "Roboto", sans-serif;
    &__container {
        max-width: 1200px;
        width: calc(100% - 40px);
        padding: 0 20px;
    }
}